<h1>Sign Up</h1>
<form action="/user/create" method="post">
    <input type="email" required="true" name="email" placeholder="abc@gmail.com">
    <input type="text" required="true" name="name" placeholder="enter your name">
    <input type="password" required="true"name="password" placeholder="enter the password">
    <input type="password" required="true" name="confirm-password" placeholder="confirm-password">
    <input type="submit" value="SignUp">
</form>