<h1>Sign In</h1>
<form action="/user/create-session" method="post">
    <input type="text" placeholder="abc@gmail.com" name="email" required="true">
    <input type="password" placeholder="enter password" required="true" name="password">
    <input type="submit" value="SignIn">
</form>